@import '../../global/variables';

site-menu {
  display: block;
  flex: 0 0 auto;
  margin-top: 100px;
}

site-menu .sticky {
  // top: 100px;
}

site-menu .section-label {
  color: var(--color-woodsmoke);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

site-menu .menu-list li,
site-menu .menu-list ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

site-menu .menu-list {
  margin-top: 0;
  padding: 0;
}

site-menu .menu-list .section-label:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

site-menu .menu-list ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

site-menu .menu-list li {
  font-size: 14px;
}

site-menu .menu-list > li + li {
  margin-top: 10px;
}

site-menu .menu-list a {
  font-weight: 400;
  color: #6c6c8b;
  text-decoration: none;
  border: 0;
}

site-menu .menu-list a:not(.link-active) {
  transition: color 0.2s;
}

site-menu .menu-list a:hover {
  border: 0;
}

site-menu .menu-list .link-active {
  font-weight: bold;
  color: var(--color-dodger-blue);
}

site-menu .menu-list a:hover:not(.link-active) {
  color: var(--color-woodsmoke);
}

site-menu .menu-list ul li {
  padding-left: 12px;
  transition: 80ms height;
  height: 26px;
  display: block;
  overflow: hidden;
}

site-menu .menu-list ul.collapsed li {
  height: 0;
}

@media screen and (max-width: 768px) {
  site-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-woodsmoke);
    z-index: 999;
    padding: 20px;
    width: calc(100vw - 56px);
    transform: translateX(calc(-100vw + 56px));
    height: 100%;
    overflow-y: scroll;
  }
  site-menu .menu-list .section-label {
    color: white;
  }
  site-menu .menu-list a {
    color: rgba(255, 255, 255, 0.6);
  }
  site-menu .menu-list a:hover:not(.link-active) {
    color: white;
  }
}

