contributor-list {
  display: block;
}

contributor-list ul.img-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

contributor-list li:not(:last-child) {
  margin-left: -10px;
}

contributor-list img {
  border: solid 2px var(--background);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 2px solid #FFF;
}

contributor-list a.contributor-img {
  display: block;
  border: none;
  transition: transform 50ms ease-out;
}

@media (hover: hover) {
  contributor-list a:hover {
    transform: scale(1.125);
    z-index: 1;
  }
}
