@import '../variables';

.btn {
  transition: all .15s ease;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  letter-spacing: 0.04em;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  display: inline-flex;
  align-items: center;

}

.btn a {
  text-decoration: none;
}

.btn app-icon {
  margin-right: 8px;
  opacity: 0.8;
}

.btn:hover {
  text-decoration: none;
  transform: translateY(1px);
  box-shadow: var(--button-shadow-hover);
}

.btn--primary {
  background: var(--color-dodger-blue);
  color: var(--color-white);
}

.btn--secondary {
  background: var(--color-white);
  color: var(--color-dodger-blue);
}

.btn--tertiary {
  background: #F4F4FD;
  color: var(--color-dodger-blue);
  box-shadow: none;
}

.btn--tertiary:hover {
  background-color: #ececf9;
  box-shadow: none;
  transform: none;
}

.btn--small {
  letter-spacing: -0.02em;
  text-transform: none;
  font-size: 15px;
  padding: 5px 12px 7px;
  font-weight: 500;
  border-radius: 8px;
  min-height: 38px;
}
