.push {
  margin-top: 70px;
}

.push-sm {
  margin-top: 36px;
}

.block {
  display: block;
}

.pull-left {
  float: left;
}

.pull-right{
  float: right;
}

.no-scroll {
  overflow: hidden;
}

.sticky {
  position: sticky;
  top: 100px;
}