* {
  box-sizing: border-box;
}

capacitor-site {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
}
.col {
  flex: 1;
}

.container {
  max-width: 1080px;
  margin: auto;
}
.container-flex {
  display: flex;
}

.input-with-button {
  display: flex;
  height: 50px;
  input {
    flex: 1;
    height: 100%;
  }
  button {
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0;
    border: 0;
    border-radius: 0px 3px 3px 0;
    height: 100%;
    &:hover {
      transform: none;
    }
  }
}

.app {
  height: 100%;
  //max-width: 1080px;
  //margin: auto;
}

#main-div {
  flex-grow: 1;
  flex-shrink: 0;

  site-header {
    stencil-route-link a {
      color: #fff;
    }
  }
}

::selection {
  background: #e7e7f2;
}

::-moz-selection {
  background: #e7e7f2;
}

html, body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: black;
}

h1, h2, h3, h4 {
  color: #16161d;
  letter-spacing: 0px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h2, h3 {
  margin-top: 48px;
  margin-bottom: 8px;
}

p, ul {
  color: #2d2d4c;
  font-size: 15px;
  line-height: 2em;
  margin: 24px 0px;
}

stencil-route-link:hover {
  cursor: pointer;
}

.wrapper {
  line-height: 32px;
  min-height: 100%;
  padding-top: 60px;
  margin: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
} 

.nextButton {
  background: #5851ff;
  color: white;
  text-decoration: none;

  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: none;
  letter-spacing: 0.04em;
  transition: all .15s ease;
  cursor: pointer;
  float: right;
  margin-right: 5px;


  &:hover {
    text-decoration: none;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0,0,0,.04), 0 1px 2px rgba(0,0,0,.16);
  }
}

.backButton {
  color: #5851ff;
  background: white;
  text-decoration: none;
  float: left;

  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: none;
  letter-spacing: 0.04em;
  transition: all .15s ease;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 5px;

  &:hover {
    text-decoration: none;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0,0,0,.04), 0 1px 2px rgba(0,0,0,.16);
  }
}


pre {
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  white-space: pre-wrap;
  margin: 24px 0px 28px;
  padding: 16px 24px;
  border-radius: 4px;
  color: #525252;
  background-color: #f8f8f8;
  code {
    font-weight: 500;
    display: block;
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre-wrap;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
  }
}

code {
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}
.hljs-comment, .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag, .hljs-keyword, .hljs-formula {
  //color: #c678dd;
  color: #db00e9;
}

.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
  color: #2973b7;
}

.hljs-tag {
  color: #2973b7;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
  color: #2cc17e;
}

.hljs-built_in, .hljs-class .hljs-title {
  color: #db00e9;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-attr {
  color: #525252;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  //color: #61aeee;
  color: #2973b7;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.landing-page {
  footer {
    .ionic-oss-logo {
      background-image: url(assets/img/ionic-os-logo.png);
    }
  }
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f8f8fc;
  height: 8em;
  display: flex;
  margin-top: 32px;
  flex: 0 0 8em;

  .ionic-oss-logo {
    background: url(assets/img/ionic-os-dark-logo.png) no-repeat transparent;
    width: 124px;
    height: 16px;
    background-size: 100%;
  }

  .container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

  .svg-button {
    margin-left: 16px;
    transition: all .15s ease;
  }

  .svg-button:hover {
    opacity:0.5;
  }
}

#open-source {
  img {
    width: 50%;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: #a5a4b8;
    font-size: 10px;
  }
}

@media screen and (max-width: 355px) {
  .wrapper {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    padding-top: 80px;
  }

  site-header a {
    display: none;
  }

  site-header stencil-route-link a {
    display: initial;
  }
}

@media screen and (max-width: 590px) {
  .wrapper {
    margin-right: 0;
    margin-left: 0;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    .pull-right {
      padding: 0 15px;
      width: 100%;
      min-height: 100vh;
    }
    .pull-left {
      position: relative;
      padding: 15px;
      width: 100%;
      bottom: 0;
      background-color: #16161d;

      * {
        color: #ffffff;
      }
    }
  }
}

@media screen and (min-width: 590px) {
  .wrapper {
    .pull-left {
      min-width: 250px;
      max-width: 250px;
      position: -webkit-sticky;
      position: sticky;
      top: 50px;
    }

    .pull-right {
      padding-left: 96px;
      padding-right: 32px;
      flex: 1 1 auto;
      overflow: auto;
      min-height: 100vh;
    }
  }
}
