.idea/
dist
.sourcemaps
xcuserdata/
node_modules/
cli/dist/commands/copy.js
Pods/
test_project/
*.map
.DS_Store
Podfile.lock
example/www/
example/electron/www/*
example/electron/capacitor.config.json
example/android/app/src/main/assets/public/*
!example/android/app/src/main/assets/public/.gitkeep
example/ios/IonicRunner/public/*
!example/ios/IonicRunner/public/.gitkeep
Build/*
Index/
.*.sw*
site/www
android-template.iml
!/build/.npmkeep
lerna-debug.log
capacitor-ios/
local.properties
contents.xcworkspacedata
.stencil/
android-template/.gradle/
android-template/app/app.iml
*.js
*.json
/site/.env
/site/.firebase
.gradle/
.settings/
.project
