dist
.sourcemaps
xcuserdata/
node_modules/
packages/cli/dist/commands/copy.js
Pods/
test_project/
Podfile
*.map
.DS_Store
packages/example/www/
packages/example/android/app/src/main/assets/www/*
!packages/example/android/app/src/main/assets/www/.gitkeep
packages/example/ios/IonicRunner/www/*
!packages/example/ios/IonicRunner/www/.gitkeep
