<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getcapacitor.android">
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <service android:name="com.getcapacitor.plugin.background.BackgroundTaskService" android:exported="false" />
        <receiver android:name="com.getcapacitor.plugin.notification.TimedNotificationPublisher" />
        <receiver android:name="com.getcapacitor.plugin.notification.NotificationDismissReceiver" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <service android:name="com.getcapacitor.CapacitorFirebaseMessagingService" android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>