app-icon {
  .icon-checkmark {
    fill: #4CAFFF;
    width: 15px;
    height: 11px;
  }

  .icon-targetblank {
    fill: #86869c;
    width: 9px;
    height: 9px;
  }

  .icon-slack,
  .icon-twitter {
    fill: #16161d;
    width: 20px;
    height: 20px;
  }

  .icon-menu {
    fill: #4CAFFF;
    width: 17px;
    height: 15px;
  }

  .icon-close {
    fill: #4CAFFF;
    width: 14px;
    height: 14px;
  }

  .icon-more {
    fill: #4CAFFF;
    width: 4px;
    height: 18px;
  }
}

.landing-page app-icon {
  .icon-slack,
  .icon-twitter {
    fill: #4CAFFF;
    width: 20px;
    height: 20px;
  }
}
