@import '../../global/variables';

site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  transition: .2s box-shadow ease-out;

  &.scrolled {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.06), 0px 1px 0px rgba(0,0,0,0.02);
  }

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    background: url(/assets/img/logo-light.png);
    width: 128px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 24px;
  }

  .logo-link a {
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 0;
  }

  .version {
    color: $color-blue-primary;
    display: inline-block;
    margin-left: 6px;
    font-size: 8px;
    letter-spacing: .4px;
    text-transform: uppercase;
    padding: 3px 5px;
    background: rgba(120, 179, 228, 0.14);;
    border-radius: 4px;
  }

  @media screen and (max-width: $breakpoint-md) {
    .container {
      padding-top: 15px;
      padding-bottom: 15px;
      flex-direction: column;
      align-items: center;
    }
  }

  .announcement {
    position: relative;

    a {
      text-decoration: none;
      color: var(--color-woodsmoke);
      transition: background 0.3s;
      display: inline-flex;
      align-items: center;
      background: rgba(255,255,255,0.10);
      border-radius: 100px;
      padding: 5px;
      border: 0;
    }

    a:hover {
      background: rgba(255,255,255,0.15);
    }

    .pill,
    .cta {
      font-size: 10px;
      text-transform: uppercase;

    }
    .pill {
      background-color: $color-yellow;
      color: $color-yellow-contrast;
      font-weight: 800;
      padding: 2px 6px;
      border-radius: 100px;
      flex: 0 0 70px;
      text-align: center;
    }
    .message {
      font-weight: 500;
      opacity: 0.8;
      font-size: 13px;
      margin: 0 14px;
      flex: 0 0 auto;
    }
    .black {
      color: black;
    }
    .cta {
      color: $color-yellow;
      font-weight: 600;
      padding-right: 4px;
      flex: 0 0 94px;
    }
    .icon {
      fill: $color-yellow;
      height: 9px;
      width: 8px;
      transform: translateY(1.5px);
      margin-left: 2px;
    }

    @media screen and (max-width: $breakpoint-lg) and (min-width: $breakpoint-md) {
      display: none;
    }

    @media screen and (max-width: $breakpoint-md) {
      max-width: 100%;
      padding-top: 5px;

      a {
        display: flex;
        width: 100%;
        border-radius: 0;
        padding: 5px 24px;
      }
      .message {
        flex: 1;
      }
      .cta {
        flex: 0 0 94px;
        padding-right: 0;
      }
    }
  }
}

.landing-page site-header .version{
  background: rgba(255, 255, 255, 0.14);
}

.header-menu {
  a,
  .dropdown__label {
    transition: border .3s, color .3s;
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
    vertical-align: top;
    color: rgba(#000, 0.6);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  stencil-route-link + stencil-route-link,
  stencil-route-link + .link,
  .link + .link {
    margin-left: 30px;
  }

  a:not(.link--external):hover,
  .link-active {
    color: rgba(#000, 1);
    border-bottom-color: rgba(#000, 0.1);
  }
  .dropdown:hover .dropdown__label  {
    color: rgba(#000, 1);
  }

  a.link-active,{
    color: #000;
  }

  .link,
  .link--external  {
    position: relative;
    border: 0;
    transition: color .3s;
  }

  .link--external .icon {
    margin-left: 6px;
    transition: top 0.2s, left 0.2s;
    position: relative;
  }

  .link--external:hover {
    color: #000;

    .icon {
      left: 1px;
      top: -1px;
    }
  }
}

.header-overflow,
.header-close {
  transition: opacity 0.3s;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 18px;
  display: none;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
  }
}

.header-close {
  .icon-close {
    fill: $color-white;
  }
}


.landing-page {
  .logo {
    background-image: url(/assets/img/logo-dark.png);
    color: #fff;
    font-family: 'Roboto Mono',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    letter-spacing: 1px;
    font-weight: 600;
  }
  site-header {
    position: static;
  }
  .header-menu {
    a,
    .dropdown__label {
      color: rgba($color-white, 0.7);
    }

    a:not(.link--external):hover,
    a.link-active,
     {
      color: rgba($color-white, 1);
      border-bottom-color: rgba($color-white, 0.2);
    }

    a.link-active,
    a.link-active:hover,
    .dropdown:hover .dropdown__label {
      color: $color-white;
    }

    .link:hover {
      color: $color-white;
    }
  }
}


@media screen and (max-width: $breakpoint-md) {
  .header-menu {
    transition: opacity 0.3s;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    opacity: 0;
    display: none;

    stencil-route-link + stencil-route-link,
    stencil-route-link + .link,
    .link + .link  {
      margin-left: 0px;
      margin-top: 38px;
      margin-bottom: 0;
      padding-bottom: 0;
      display: inline-block;
    }

    a,
    .link {
      font-size: 24px;
      color: rgba(#fff, 0.7) !important;

      &:hover {
        color: $color-white !important;
      }
    }

    a:hover,
    .link:hover,
    a.link-active {
      color: $color-white !important;
      border-bottom-color: rgba(#fff, 0.2) !important;
    }

    stencil-route-link,
    .link {
      transition: transform 0.4s, color 0.3s;
      transform: translateY(8px);
    }
  }

  .show-mobile-menu {
    z-index: 999999;
  }

  .show-mobile-menu .header-menu {
    opacity: 1;
  }

  .show-mobile-menu .header-menu stencil-route-link,
  .show-mobile-menu .header-menu .link {
    transform: translateY(0);
  }

  .show-mobile-menu .header-menu--show + .header-overflow  {
    display: none;
  }

}



.dropdown {
  cursor: pointer;
}

.dropdown__menu {
  padding: 0;
  margin: 0;
  text-align: center;
}

.dropdown__item {
  list-style-type: none;
  border: 0 !important;
}

.dropdown__label {
  border: 0 !important;
}

@media screen and (min-width: 769px) {
  .dropdown__menu {
    text-align: left;
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    z-index: 999;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10), 0 1px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 18px 12px;
    border-radius: 8px;
    background: #fff;

    display: block;
    visibility: 0;
    opacity: 0;
    transform: translate(-50%, -5px);
    pointer-events: none;
    transition: transform .3s ease, opacity .3s;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      width: 100%;
      height: 30px;
      left: 0;
    }
  }

  .dropdown--visible .dropdown__menu {
    visibility: 1;
    opacity: 1;
    transform: scaleY(1);
    transform: translate(-50%, 0);
    pointer-events: auto;
  }

  .dropdown__arrow {
    position: absolute;
    height: 8px;
    width: 20px;
    overflow: hidden;
    top: -8px;
    left: calc(50% - 8px);

    &:before {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 4px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 4px;
      box-shadow: 1px 1px 3px rgba(0,0,0,.4);
      content: '';
      display: block;
    }
  }

  .dropdown__item {
    min-width: 80px;
    display: block;
  }

  .dropdown__item a {
    color: $link-color !important;
    font-weight: 500;
    border: 0;

    &:hover {
      color: darken($link-color, 15%) !important;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {

  .landing-page .header-menu .dropdown__label,
  .header-menu .dropdown__label {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(#fff, 0.4) !important;
    font-weight: 600;
    vertical-align: baseline;
  }

  .dropdown__arrow {
    display: none;
  }

  .dropdown__menu {
    text-align: center;
  }

  .dropdown__item {
      margin-top: 4px;
  }

  .dropdown__item a {
    border: 0;
    font-size: 18px;
  }

}
