.landing-page {
  .logo {
    //background-image: url(assets/img/avocado-logo.png);
    color: #fff;
    font-family: 'Roboto Mono',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    letter-spacing: 1px;
    font-weight: 600;
  }
  site-header {
    position: static;
  }
}
site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;

  .logo {
    background: url(assets/img/logo-dark.png);
    width: 128px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 24px;
  }

  .logo-link a {
    margin: 0;
  }
  
  .site-header {
    padding: 20px 0px;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  stencil-route-link a, a {
    font-size: 14px;
    margin: 8px 8px;
    margin-right: 1.4em;
    color: #86869c;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: none;
    transition: all .2s ease;
  }

  stencil-route-link a:hover, stencil-route-link a.link-active, a:hover {
    color: #2b2b38 !important;
    text-decoration: none;
  }

  .pull-right {
    order: 0;
    flex: 1 1 auto;
    text-align: right;
  }

  @media screen and (max-width: 450px) {
    img {
      padding-bottom: 20px;
    }
    .pull-right {
      display: block;
      text-align: center;
    }

  }

  @media screen and (max-width: 465px) {
    .button {
      display: none;
    }
  }
  
  @media screen and (min-width: 450px) {
    /*
    .logo {
      height: 27px;
    }
    */
  }
  
  @media screen and (max-width: 722px) {
    stencil-route-link a, a {
      font-size: 12px;
      margin: 8px 12px;
    }

    .pull-right {
      justify-content: space-around;
      display: flex;
    }

    .site-header {
      flex-direction: column;
    }
  
    stencil-route-link {
      margin-right: unset;
    }
  }
}
