internal-ad {
  max-width: 148px;
  display: block;
  margin: 48px 0 0;
  height: 0px;
  overflow:hidden;
}

internal-ad a {
  display:inline-block;
  text-decoration: none;
}

internal-ad a:hover {
  border-bottom-color: transparent;
  text-decoration:underline;
}

internal-ad p {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.02em;

  color: var(--text-color--dark);
  transition: .2s color;
}

internal-ad a:hover p  {
  color: var(--text-color);
}
