version: 2.1
jobs:
  get-cli:
    working_directory: /tmp/workspace
    docker:
      - image: circleci/node:10.13.0
    steps:
      - checkout

  install-cocoapods:
    macos:
      xcode: "10.0"
    working_directory: /tmp/workspace
    steps:
      - run:
          name: Install CocoaPods
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf

  run-cli-tests:
    macos:
      xcode: "10.0"
    working_directory: /tmp/workspace

    steps:
      - checkout

      - run:
          command: npm install
          working_directory: /tmp/workspace/cli

      - run:
          command: npm run build
          working_directory: /tmp/workspace/cli

      - run:
          command: npm run test
          working_directory: /tmp/workspace/cli

  build-ios:
    macos:
      xcode: "10.0"
    working_directory: /tmp/workspace

    steps:
      - checkout
      - run:
          command: pod lib lint --allow-warnings Capacitor.podspec
      - run:
          command: pod lib lint --allow-warnings CapacitorCordova.podspec

  build-android:
    docker:
      - image: circleci/android:api-27-node8-alpha
    working_directory: /tmp/workspace

    steps:
      - checkout
      - run:
          command: ./gradlew clean build -b capacitor/build.gradle
          working_directory: /tmp/workspace/android

workflows:
  version: 2.1
  node-ios-android:
    jobs:
      - get-cli
      - install-cocoapods
      - run-cli-tests:
          requires:
            - get-cli
            - install-cocoapods
      - build-ios:
          requires:
            - install-cocoapods
      - build-android