in-page-navigation {
  flex: 0 0 180px;
  padding-top: 26px;
  padding-left: 16px;
  overflow:visible;
}

in-page-navigation h5 {
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
  color: #a0aec0;
  letter-spacing: .05em;

}

in-page-navigation .heading-links {
  list-style: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  --indent-size: 12px;
  margin-left: calc(var(--indent-size) * -2);
}

in-page-navigation .heading-links li {
  width: 188px;
  overflow: hidden;
  text-overflow: ellipsis;
}

in-page-navigation .heading-links li + li {
  margin-top: 8px;
}

in-page-navigation .heading-links a {
  font-weight: 400;
  color: var(--color-gunpowder);
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  border: none;
  text-decoration: none;
  border: none !important;
  transition: .2s color ease;
}

in-page-navigation .heading-links a:hover {
  color: var(--color-woodsmoke);
}

in-page-navigation .heading-links a:hover {
  border: none;
}

in-page-navigation .heading-links .heading-link:hover,
in-page-navigation .heading-links .heading-link.selected {
  border-bottom: none !important;
  transform: translateX(calc(var(--indent-size) * 1 + 2px));
}

in-page-navigation li.heading-link {
  padding-left: 12px;
  margin-left: 0;
  border-left: 2px solid transparent;
  transition: .2s transform ease;
}

in-page-navigation li.heading-link.selected {
  border-left: 2px solid var(--color-dodger-blue);
}

in-page-navigation li.heading-link.selected a {
  color: var(--color-dodger-blue);
  font-weight: 600;
}

in-page-navigation li.size-h2 {
  transform: translateX(calc(var(--indent-size) * 1));
  font-weight: 600;
}

in-page-navigation li.size-h3 {
  transform: translateX(calc(var(--indent-size) * 2));
}

in-page-navigation li.size-h4 {
  transform: translateX(calc(var(--indent-size) * 3));
}

in-page-navigation li.size-h3 a,
in-page-navigation li.size-h4 a {
  font-weight: 400;
  color: #6c6c8b;
}

in-page-navigation li.size-h3:hover a,
in-page-navigation li.size-h4:hover a {
  color: var(--color-gunpowder);
}

in-page-navigation li.heading-link.size-h3:hover,
in-page-navigation li.heading-link.size-h3.selected {
  transform: translateX(calc(var(--indent-size) * 2 + 2px));
}

in-page-navigation li.heading-link.size-h4:hover,
in-page-navigation li.heading-link.size-h4.selected {
  transform: translateX(calc(var(--indent-size) * 3 + 2px));
}

in-page-navigation .submit-edit-link {
  font-size: 12px;
  display: inline-block;
  color: var(--color-dodger-blue);
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

in-page-navigation .submit-edit-link svg {
  width: 16px;
  fill: currentColor;
}

in-page-navigation .submit-edit-link span {
  transition: border 0.2s;
  height: 16px;
  margin-left: 6px;
  border-bottom: 1px solid transparent;
}

in-page-navigation .submit-edit-link:hover span {
  border-bottom: 1px solid var(--color-cadet-blue);
}

in-page-navigation .heading-links + .submit-edit-link {
  margin-top: 28px;
  border-bottom: none;
}


@media screen and (max-width: 1024px) {
  in-page-navigation {
    display: none;
  }
}
