@import '../../global/variables';

anchor-link {
  cursor: pointer;
  user-select: none;
  &.hover-anchor {
    position: absolute;
    margin-left: -25px;
    color: #d6d1d1;
  }
}
.anchor-link-relative {
  position: relative;
}

.anchor-link-relative {
  position: relative;
}


@media screen and (max-width: $breakpoint-md) {
  anchor-link.hover-anchor {
    margin-left: -18px;
  }
}
