<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   Capacitor

   Created by Steven Sherry on 2/28/24.
   Copyright (c) 2024 Drifty Co.. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
