@import '../../global/variables';

.landing-page {
  background-color: #070D12;
}

.landing-page footer{
  background-color: #0B1A24;
}

.landing-page .announcement a {
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}

landing-page {
  display: block;
  color: #fff;
  overflow: hidden;

  h1,
  h2,
  h3 {
    color: #fff;
    margin: 0;
  }
  p {
    color: #BCC0BE;
  }

  .hero {
    display: flex;
    justify-content: space-between;

    hgroup,
    .hero-illustration {
      flex: 0 0 50%;
    }

    hgroup {
      max-width: 490px;
      padding-right: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: -0.03em;
        line-height: 48px;
        font-weight: 500;
        margin-top: -40px;
      }

      h3 {
        font-size: 20px;
        color: rgba(229, 238, 255, 0.8);
        letter-spacing: -0.02em;
        line-height: 29px;
        margin-top: 18px;
        font-weight: 400;
      }

      button {
          margin-top: 32px;
      }

      h5 {
        font-size: 10px;
        color: #8C9CAA;
        letter-spacing: 0.38px;
        line-height: 29px;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 26px;
      }
      img {
        width: 141px;
      }

    }

    .hero-illustration {
      text-align: right;
      padding-top: 60px;
      padding-bottom: 40px;

      img {
        width: 100%;
        max-width: 506px;
        min-width: 420px;
        margin-right: -42px;
        margin-top: -20px;
        @media screen and (max-width: 1120px) {
          margin-right: 0;
        }
      }
    }

    @media screen and (max-width: $breakpoint-md) {
      hgroup {
        text-align: center;
        margin: 0 auto;
        padding: 60px 0;
        flex: 0 0 100%;
        align-items: center;
      }
      hgroup h1 {
        margin-top: 0;
      }
      .hero-illustration {
        display: none;
      }
    }
    @media screen and (max-width: $breakpoint-sm) {
      hgroup h1 {
        font-size: 32px;
        line-height: 43px;
      }

      hgroup h3 {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  #get-started {
    background: #4CAFFF;
    color: white;

    &:hover {
      background: darken(#4CAFFF, 5%);
    }

    &:focus {
      background: darken(#4CAFFF, 9%);
      transform: translateY(0px);
    }
  }

  .points {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2em;
    margin-right: -2em;
    margin-bottom: 60px;
  }

  .points__item {
    flex: 0 0 33.33%;
    position: relative;
    padding: 0px 2em;
    margin-bottom: 60px;

    a {
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      border-bottom-color: rgba(#fff, 0.3);
    }

    h2 {
      margin-top: 20px;
      font-size: 16px;
    }

    p {
      margin-top: 10px;
     font-weight: 400;
     font-size: 15px;
     letter-spacing: -0.02em;
     line-height: 28px;
     color: rgba(225, 241, 255,0.8);
    }

    &:before {
      content: '';
      display: block;
      background: url(/assets/img/feature-icon-sprite.png) no-repeat transparent;
      width: 51px;
      height: 51px;
      background-size: 306px 51px;
      margin-bottom: 0.3em;
    }

    @media screen and (max-width: $breakpoint-md) {
      flex: 0 0 50%;
    }

    @media screen and (max-width: $breakpoint-sm) {
      margin-bottom: 20px;
      flex: 0 0 100%;
    }

  }

  .points__item--nativeaccess:before {
    background-position: -51px 0;
  }
  .points__item--opensource:before {
    background-position: -102px 0;
  }
  .points__item--webnative:before {
    background-position: -153px 0;
  }
  .points__item--extensible:before {
    background-position: -204px 0;
  }
  .points__item--simple:before {
    background-position: -255px 0;
  }

  .footer-landing {
    background: #151a23;
    margin-top: 0;
  }


}
