.landing-page landing-page {
  h1, h2 {
    color: #fff;
  }
  p {
    color: #BCC0BE;
  }
}
.landing-page {
  #main-div {
    background-color: #070c11;
    color: #fff;
  }
}

avocado-site.landing-page {
  display: block;
  background-color: #1E2322;
}

.footer-landing {
  background: #151a23;
  margin-top: 0;
}

landing-page {
  main {
    display: flex;
    flex-direction: column;
    margin: 3em auto 12em auto;
    max-width: 768px;
    text-align: center;
  }

  #logo {
    width: 4em;
    height: 4em;
  }

  #landing-cta-offset {
    flex: 0;
    min-width: 50px;
  }

  #action-call {
    font-size: 2.5em;
    line-height: normal;
    margin-top: 2em;
    font-weight: 600;
    margin-bottom: 0.9em;
  }

  #action-more {
    margin: 0.2em 0 1em;
    color: #D0D5D3;
    font-weight: 600;
    font-size: 18px;

    b {
      color: #fff;
    }
  }
  #landing-cta-image {
    background: url(assets/img/right-img.png) no-repeat transparent;
    background-size: contain;
    height: 400px;
    background-position-x: 100%;
  }

  #cta-form {
    max-width: 550px;
    margin: auto;
    margin-top: 3em;

    input {
      font-size: 14px;
      padding: 5px 10px;
      width: 200px;
      color: #747A79;
      background-color: #2C3033;
      border: none;
      border-radius: 3px;
    }

    button {
      background-color: #5EB6FC;
      text-transform: uppercase;
      color: white;
    }
  }

  button {
    &:first-child {
      margin-left: 0;
    }

    margin: 8px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 20px;
    border-radius: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
    outline: none;
    letter-spacing: 0.04em;
    transition: all .15s ease;
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
    transform: translateY(1px);
  }

  #get-started {
    background: #7fd02e;
    color: white;
  }

  #learn-more {
    background: #222823;
    color: #72D477;
  }

  #youtube-video {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s cubic-bezier(0.36,0.66,0.04,1);
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;

    iframe {
      box-shadow: 0px 8px 16px rgba(0,0,0,0.15), 0px 20px 40px rgba(0,0,0,0.2);
      border-radius: 8px;
    }
  }

  .youtube-show {
    opacity: 1 !important;
    transform: /*scale(3)*/ translatey(-30px) !important;
    pointer-events: auto !important;
  }

  #background {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 8888;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #00082d;
    transition: opacity 0.3s cubic-bezier(0.36,0.66,0.04,1);
  }

  .background-show {
    opacity: 0.4 !important;
    pointer-events: auto !important;
  }

  .three-points {
    padding: 3em 0;
    width: 100%;
    background-color: #10141C;
    //margin-top: 3.2em;
    //margin-bottom: 2.8em;
  }

  .three-points .container-flex {
    justify-content: space-around;
  }

  .point-card {
    flex: 1;
    width: 33%;
    position: relative;
    padding: 0px 2em;

    a {
      color: #fff;
      text-decoration: none;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    h2 {
      margin-top: 1em;
      font-size: 16px;
    }

    p {
      margin-top: 0.2em;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.02em;
      line-height: 30px;
    }

    &:before {
      content: '';
      display: block;
      background: url(assets/img/checkbox.png) no-repeat transparent;
      width: 20px;
      height: 20px;
      background-size: 100%;
      margin-bottom: 0.3em;
    }
  }

  #launch-video, #mobile-video {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 4;
    transition: all .2s ease;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    
    &:hover {
      opacity: 0.7;
    }

    img {
      height: 1.2em;
    }

    span {
      font-size: 14px;
      margin-left: 8px;
      color: #5851ff;
      font-weight: 500;
      transition: all .15s ease;
    }
  }

  #mobile-video {
    display: none;
  }

  @media screen and (max-width: 740px) {
    #action-call {
      width: auto;
    }
    main {
      max-width: 90%;
      margin: 0 auto 2em auto;
    }
    #landing-cta-image {
      display: none;
    }

    #launch-video {
      display: none;
    }

    #youtube-video {
      display: none;
    }

    #mobile-video {
      display: flex;
    }

    .three-points {
      flex-direction: column;
      text-align: left;
      display: block;
      padding: 0px 2em;
      margin: auto;

      .point-card {
        margin: 1em 2.4em;
      }
      
      .point-card::before {
        left: 0;
      }
      .point-card {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
      }
    }
  }
  @media screen and (max-width: 500px) {
    main {
      max-width: 90%;
      margin: 0 auto 2em auto;
    }
    #landing-cta-image {
      display: none;
    }
    .three-points {
      display: block;
      padding: 1em;
      margin: auto;

      .container-flex {
        display: block;
      }

      .point-card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
      }
    }
    #cta-form {
      button {
        padding: 10px 14px;
      }
    }
  }
}