@import '../../global/variables';

.newsletter {
  background-color: #eeeff1;
  padding: 80px 0;

  .container {
    display: flex;
  }

  form {
    display: flex;
    justify-content: flex-end;
  }

  hgroup {
    flex: 0 0 60%;
    padding-right: 40px;
    h2 {
      margin: 0 0 6px;
    }
    p {
      margin: 0;
      line-height: 23px;
    }
  }

  form {
    flex: 0 0 40%;
    input {
      padding: 5px 10px 5px 16px;
      width: 200px;
      min-height: calc(100% - 1px);
      background-color: #fff;
      border: none;
      border-radius: 6px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 16px;
      font-weight: 400;
      color: #070D12;
      letter-spacing: -0.22px;
    }

    button {
      background-color: #5EB6FC;
      color: white;
      border-radius: 6px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover {
        background: darken(#4CAFFF, 5%);
      }

      &:focus {
        background: darken(#4CAFFF, 9%);
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    .container {
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
    }
    hgroup,
    form {
      flex: 0 0 100%;
    }
    hgroup {
      padding: 0;
    }
    form {
      margin-top: 24px;
      width: 100%;
      justify-content: center;
    }
  }
}

.landing-page .newsletter {
  background-color: #102331;
}
