$link-color: #69D353;

plugin-api{
  .avc-code-plugin-name { display: none; }
  .avc-code-method {
    margin-top: 25px;
  }

  .avc-code-method-signature {
    font-family: monospace;
    padding: 8px;
    background-color: #eee;
    border-radius: 3px;
  }

  .avc-code-method-param-info {
    .avc-code-method-param-info-name {
      font-size: 14px;
      font-weight: bold;
    }
  }

  avc-code-type {
    display: inline-block;
    color: #4b904b;
  }

  .avc-code-string {
    color: #4b904b;
  }
  
}
