$link-color: #69D353;

plugin-api{
  .avc-code-plugin-name { display: none; }
  .avc-code-method {
    margin-top: 25px;
    font-family: monospace;
  }

  .avc-code-method-param-info {
    .avc-code-method-param-info-name {
      font-size: 14px;
      font-weight: bold;
    }
  }

  avc-code-type {
    display: inline-block;
  }
  
}
