$link-color: #5EB6FC;
$code-font: Consolas,Menlo,Monaco,source-code-pro,Courier New,monospace;

plugin-api {
  .avc-code-plugin-index {
    anchor-link {
      color: $link-color;
      cursor: pointer;
    }
  }
  .avc-code-plugin-name { display: none; }

  .avc-code-method-anchor-point {
    height: 20px;
  }

  .avc-code-method {
    margin-bottom: 25px;
    .avc-code-method-header {
      margin-top: 15px;
    }
    .avc-code-method-comment {
      margin: 20px 0;
    }
  }

  .avc-code-method-signature {
    font-family: $code-font;
    padding: 8px;
    background-color: #eee;
    border-radius: 3px;
  }

  .avc-code-method-params {
    .avc-code-method-param-info {
      .avc-code-method-param-info-name {
        font-size: 14px;
        font-weight: bold;
      }
      .avc-code-type-name, avc-code-type {
        margin-left: 5px;
        margin-right: 5px;
        font-style: italic;
      }
      .avc-code-method-param-comment {
        display: inline-block;
      }
    }

    .avc-code-method-returns-label {
      font-weight: bold;
      font-size: 14px;
      text-transform: lowercase;
    }
  }

  .avc-code-string {
    color: $link-color;
  }
  
  .avc-code-interface {
    margin-top: 25px;
    font-family: $code-font;
  }

  .avc-code-interface-param {
    margin-left: 25px;
  }
}
