<!--
  Generated template for the LocalNotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LocalNotifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button (click)="init()" ion-button>
    Init
  </button>
  <br/><br/>
  <button (click)="scheduleNow()" ion-button>
    Schedule Now - Icon from config (or default)
  </button>
  <button (click)="scheduleNowWithIcon()" ion-button>
    Schedule Now - Icon parameter
  </button>
  <button (click)="scheduleNowWithColor()" ion-button>
    Schedule Now - Custom color
  </button>
  <br/><br/>
  <button (click)="scheduleOnce()" ion-button>
    Schedule in 10 seconds
  </button>
  <br/><br/>
  <button (click)="scheduleRepeatingEvery()" ion-button>
    Schedule every minute
  </button>
  <button (click)="scheduleRepeatingEveryWithValue(2)" ion-button>
    Schedule every 2 minutes
  </button>
  <br/><br/>
  <button (click)="scheduleRepeatingOn()" ion-button>
    Schedule when clock matches next minute 
  </button>
  <br/><br/>
  <button (click)="cancelNotification()" ion-button>
    Cancel Local Notifications
  </button>
  <br/><br/>
  <button (click)="getPending()" ion-button>
    Get Pending
  </button>
  <br/><br/>
  <div *ngIf="pendingNotifs">
    <div *ngFor="let notif of pendingNotifs.notifications">
      {{toJson(notif)}}
    </div>
  </div>
</ion-content>
