@import '../../global/variables';

capacitor-enterprise {
  display: block;

  margin: 76px 0;

  .cta {
    text-align: center;
    background-color: #eee;
    padding: 128px 0;

    h1 {
      margin-top: 0;
    }

    .btn {
      margin-top: 24px;
      background-color: #111;
      color: white;
    }
  }

  .container {
    max-width: $breakpoint-lg;
    margin: auto;
  }

  .points {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 16px;
    row-gap: 24px;

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
    }
  }

  hgroup {
    text-align: center;
  }

  .hs-form {
    margin: 48px auto;
    max-width: 420px !important;
    font-weight: 400;

    .hs-form-required {
      display: none;
    }

    form {
      fieldset.form-columns-2 .input {
        margin-right: 12px;
      }

      &.stacked .field {
        margin-bottom: 4px;
      }
    }

    .hs-input,
    input.hs-input,
    select.hs-input {
      appearance: none;
      -moz-appearance: none;
      border: 1px solid #e1e5ed;
      // padding: 15px 5px 15px 18px;
      font-weight: 500;
      border-radius: 4px;
      transition: border-color .2s;
      box-shadow: none;
      outline: none;
      height: 30px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;

      &:placeholder {
        color: #aaa;
      }

      &:valid {
        // border-color: #B4BBC5;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
        border-color: #3880ff;
        box-shadow: none;
      }

      &.hs-input.error {
        border-color: #ee0000;
      }
    }

    select.hs-input {
      height: 44px;
      width: calc(100% + 6px) !important;
    }

    textarea.hs-input {
      padding: 12px;
      width: calc(100% + 3px) !important;
      min-height: 192px;
    }

    .hs_submit input.hs-button {
      font-size: 13px;
      padding: 10px 18px 10px;
      margin-right: -14px;
      margin-top: -36px;
      line-height: 23px;
      float: right;
      font-weight: 600;
      letter-spacing: 0;
      text-transform: none;
      text-shadow: none;
      background: #3880ff;
      border: 0;
      outline: 0;
      transition: all .2s linear;
      box-shadow: 0 1px 3px rgba(0,0,0,.12);

      &:hover {
        border: 0;
        box-shadow: 0 4px 8px rgba(0,0,0,.12);
        background: #5995fc;
        color: #fff;
        outline: 0;
      }

      &:active,
      &:active:not(.inactive):not(.link),
      &:focus:not(.inactive) {
        border: 0;
        color: #fff;
        box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
        background: #5995fc;
        outline: 0;
      }
    }

    .submitted-message {
      &:before {
        content: '';
        display: block;
        background-image: url('/img/checkmark-light-green.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 42px;
        height: 42px;
        margin-bottom: 12px;
      }

      font-size: 18px;
      padding: 34px 0 78px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 400;
      color: #35af55;
      max-width: 410px;
      background-color: white;
      margin: 0 auto;
    }
  }

  .modal .hs-form .hs_submit input.hs-button {
    padding: 0;
  }

  .hs-form {
    // font-family: $font-family-system;
    // TODO these styles are only used on contributors landing,
    // need to be applied to all hubspot forms

    &,
    & fieldset,
    & iframe {
      max-width: 100%;
    }

    // fieldset + fieldset,
    // form.stacked .hs-form-field + .hs-form-field,
    // fieldset .hs-form-field + .hs-form-field,
    // form.stacked .hs-form-field + .hs-dependent-field {
    //   margin-top: 26px;
    // }
    .hs-form-field {
      margin-top: 16px;
    }

    label {
      margin-bottom: 3px;
    }

    .hs-form-required {
      display: inline;
      color: #F45454;
      margin-left: 4px
    }

    .hs-richtext {
      margin-top: 8px;
    }

    .hs-input,
    input.hs-input {
      transition: border 0.3s;
      font-weight: 500;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ced6e3;
      line-height: 1.39286;
      border-radius: 4px;
      padding: 11px 15px;
      font-size: 15px;
      margin-bottom: 0;
      color: #505863;
    }

    input.hs-input[type="number"] {
      float: none;
    }

    input.hs-input[type="text"],
    input.hs-input[type="email"],
    input.hs-input[type="tel"]  {
      height: auto;
      width: 100%;
      float: none;

      &:focus {
        border-color: #629eff;
      }
    }

    input.hs-input[type="radio"],
    input.hs-input[type="checkbox"] {
      height: auto;
      margin-right: 8px;
    }

    .hs-form-booleancheckbox-display {
      display: flex;
    }

    select.hs-input {
      height: 44px;


      appearance: none;
      -moz-appearance: none;
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position:
        calc(100% - 20px) 50%,
        calc(100% - 15px) 50%;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
    }

    form fieldset.form-columns-2 .input {
      margin: 0;
    }

    fieldset.form-columns-2 .hs-form-field {
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    .inputs-list,
    .hs-error-msgs {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .inputs-list.multi-container {
      overflow: hidden;

      li:nth-last-child(n+6):first-child,
      li:nth-last-child(n+6):first-child ~ li {
        width: 50%;
        float: left;
        padding-right: 11px;
      }
      li:nth-last-child(n+6):first-child ~ li:nth-child(even) {
        padding-right: 0;
        padding-left: 11px;
      }
    }

    .hs-form-checkbox-display {
      margin-top: 4px;
      display: flex;
    }

    .hs-form-checkbox-display .hs-input[type="checkbox"]{
      margin-right: 10px;
    }

    .hs-form-checkbox-display span {
      font-size: 15px;
      color: #505863;
    }


    .hs-error-msgs {
      padding: 5px 0 0;
      font-size: 11px;
      color: #F45454;
    }

    .hs_submit {
      margin-top: 30px;
    }

    .hs_submit input.hs-button {
      transition: all .3s ease;
      margin: 0;
      float: none;
      font-size: 16px;
      font-weight: 700;
      padding: 12px 20px;
      vertical-align: middle;
      color: white;
      background: #3880ff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      line-height: 18px;
      letter-spacing: -0.01em;

      &:hover {
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.08);
        background: #4d8dfd;
        color: #fff;
        outline: none;
      }
    }

    @media (max-width: $breakpoint-sm) {
      fieldset.form-columns-2 .hs-form-field {
        width: 100%;
        float: none;
        padding: 0;

        & + .hs-form-field {
          margin-top: 24px;
        }
      }
      .inputs-list.multi-container {
        li:nth-last-child(n+6):first-child,
        li:nth-last-child(n+6):first-child ~ li {
          width: 100%;
          float: none;
          padding-right: 0;
        }
        li:nth-last-child(n+6):first-child ~ li:nth-child(even) {
          padding-left: 0;
        }
      }
      .hs_submit input.hs-button {
        width: 100%;
      }
    }
  }

  .hubspot-override--large .hs-form {
    label:not(.hs-form-booleancheckbox-display) {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.05em;
      margin-bottom: 6px;
    }

    .hs-form-booleancheckbox-display {
      font-size: 15px;
    }

    .hs-richtext {
      p span,
      p a {
        font-size: 15px;
      }
    }

    .hs-input,
    input.hs-input {
      padding: 16px 20px 18px;
      font-size: 18px;
    }

    select.hs-input {
      text-indent: 10px;
      height: 60px;
    }
    @-moz-document url-prefix() {
      select.hs-input {
        text-indent: 0;
      }
    }

    .hs-error-msgs label {
      font-size: 11px;
      letter-spacing: 0;
      text-transform: none;
    }

    fieldset.form-columns-2 .hs-form-field {
      padding: 0 20px;
    }

    .hs_submit {
      text-align: center;
      padding-top: 18px;
    }

    .hs_submit input.hs-button {
      padding: 22px 27px 24px;
      border-radius: 6px;
    }

    @media (max-width: $breakpoint-sm) {
      fieldset.form-columns-2 .hs-form-field {
        padding: 0;
      }
    }
  }

  .hubspot-override--measure {
    max-width: 748px;
    margin-left: auto;
    margin-right: auto;
  }

}