$color-blue-primary: #4CAFFF;
$color-blue-muted: #85ADCE;
$color-yellow: #FDBF00;
$color-yellow-contrast: #653D00;
$color-white: #fff;

$link-color: #1d9aff;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
