$color-blue-primary: #4CAFFF;
$color-blue-muted: #85ADCE;
$color-yellow: #FDBF00;
$color-yellow-contrast: #653D00;
$color-white: #fff;

$link-color: #1d9aff;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

// CSS vars for compatibility w/ stencil site components
// TODO convert these and their use to SCSS
:root {
  --color-woodsmoke: #16161D;
  --color-dolphin: #626177;
  --color-gunpowder: #505061;
  --color-manatee: #8888A2;
  --color-cadet-blue: #abb2bf;
  --color-whisper: #EBEBF7;
  --color-selago: #F4F4FD;
  --color-white-lilac: #f8f8fc;
  --color-white: #fff;

  --color-green-haze: #00AB47;

  // --color-dodger-blue: rgb(88, 81, 255);
  --color-dodger-blue: #1d9aff;
  // --color-dodger-blue-hover: rgba(88, 81, 255, 0.2);
  --color-dodger-blue-hover: rgba(#1d9aff, 0.2);

  --color-old-lace: #fdf5e4;
  --color-wheatfield: #F1E3C5;
  --color-pirate-gold: #9A6400;

  --button-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  --button-shadow-hover: 0 4px 6px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.08);

  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}