@import '../../global/variables';

document-component {
  .container {
    display: flex;
    justify-content: space-between;
  }

  plugin-platforms {
    display: block;
    float: right;
    .platform {
      margin-left: 8px;
    }
  }

  table, td, th {
    border: 1px solid #eee;
    border-collapse: collapse;
  }
  table {
    width: 100%;

    th {
      text-align: left;
      padding: 4px;
    }
    td {
      font-size: 12px;
      line-height: 18px;
      vertical-align: top;
      padding: 4px;
      min-width: 150px;


      code {
        font-size: 12px;
      }
    }
  }

  .heading-link {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2d2d4c;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  
    app-icon {
      transition: opacity 0.2s;
      position: absolute;
      left: -20px;
      display: flex;
      align-items: center;
      opacity: 0;
    }
  
    &:hover app-icon {
      opacity: 0.8;
    }
  }

  img {
    max-width: 100%;
    margin: 8px 0;
  }

  h1:first-child {
    anchor-link {
      display: none;
    }
  }

  ul {
    -webkit-padding-start: 16px;
    li, code {
      font-size: 14px;
      margin-top: 16px;
    }
  }

  p a {
    color: $link-color;
    text-decoration: none;
  }

  p,
  ul,
  ol {
    code {
      padding: 1px 4px 2px;
      background-color: #ecf4fb;
      color: #16161D;
      border-radius: 3px;
    }
  }

  #introButton {
    background: $link-color;
    color: white;
    text-decoration: none;

    border: none;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 14px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    outline: none;
    letter-spacing: 0.04em;
    transition: all .15s ease;
    cursor: pointer;
  }

  #introButton:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
    transform: translateY(1px);
  }

  .btn.pull-left,
  .btn.pull-right {
    margin: 64px 8px 20px;
  }
}
