

app-marked {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  width: 100%;
  padding-top: 86px;
  padding-bottom: 32px;
}


/**
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/
code[class*="language-"],
pre[class*="language-"] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: normal;
  word-wrap: normal;
  font-size: 14px;
  line-height: 20px;
  color: #e4e4e4;
  text-shadow: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #212431;
}

pre[class*="language-"] {

  border-radius: 4px;
  border: none;
  overflow: auto;
  position: relative;
}

pre[class*="language-"] code {
  white-space: pre;
  display: block;
  margin: 22px 24px !important;
  display: block;
}

:not(pre) > code[class*="language-"] {
  padding: 0.15em 0.2em 0.05em;
  border-radius: .3em;
  border: 0.13em solid #7a6652;
  box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

/* Line highlight plugin */
pre[class*="language-"] {
  position: relative;
}

pre .line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 0 0 22px;
  background: rgba(86, 90, 101, 0.4);
}

.token.comment {
  color: #5c6370;
  font-style: italic;
}

.token.function {
  color: #61aeee;
}

.token.class-name,
.token.builtin {
  color: #e6c07b;
}

.token.namespace {
  opacity: .7;
}

.token.prolog,
.token.doctype,
.token.cdata {
  color: #6f705e;
}

.token.boolean,
.token.number {
  color: #a77afe;
}

.token.string {
  color: #98c379;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e6d06c;
}

.token.selector,
.token.inserted {
  color: #a6e22d;
}

.token.atrule,
.token.keyword,
.token.important,
.token.deleted {
  color: #c678dd;
}

.token.regex,
.token.statement {
  color: #76d9e6;
}

.token.placeholder,
.token.variable {
  color: #fff;
}

.token.important,
.token.statement,
.token.bold {
  font-weight: bold;
}

.token.operator,
.token.punctuation {
  color: #bebec5;
}

.token.entity {
  cursor: help;
}

.token.italic {
  font-style: italic;
}

code.language-markup {
  color: #f9f9f9;
}

code.language-markup .token.tag,
.token.tag {
  color: #da5686;
}

code.language-markup .token.attr-name,
.token.attr-name {
  color: #98c379;
}

code.language-markup .token.attr-value,
.token.attr-value {
  color: #e6d06c;
}

code.language-markup .token.style,
code.language-markup .token.script {
  color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
  color: #76d9e6;
}
