name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - 'synchronize'
      - 'opened'
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  setup:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Get Latest
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: NPM ^9.5.0
        run: npm i -g npm@^9.5.0 --registry=https://registry.npmjs.org
      - uses: actions/checkout@v4
      - name: Restore Dependency Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependencies-cache-${{ hashFiles('**/package.json') }}
  lint:
    runs-on: macos-14
    timeout-minutes: 30
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: NPM ^9.5.0
        run: npm i -g npm@^9.5.0 --registry=https://registry.npmjs.org
      - uses: actions/checkout@v4
      - name: Restore Dependency Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependencies-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run lint
  test-cli:
    runs-on: macos-14
    timeout-minutes: 30
    needs:
      - setup
      - lint
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: NPM ^9.5.0
        run: npm i -g npm@^9.5.0 --registry=https://registry.npmjs.org
      - uses: actions/checkout@v4
      - name: Restore Dependency Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependencies-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run build
        working-directory: ./cli
      - run: npm test
        working-directory: ./cli
  test-core:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - setup
      - lint
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: NPM ^9.5.0
        run: npm i -g npm@^9.5.0 --registry=https://registry.npmjs.org
      - uses: actions/checkout@v4
      - name: Restore Dependency Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependencies-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run build
        working-directory: ./core
      - run: npm test
        working-directory: ./core
  test-ios:
    runs-on: macos-14
    timeout-minutes: 30
    needs:
      - setup
      - lint
    strategy:
      matrix:
        xcode:
          - /Applications/Xcode_15.0.1.app
    steps:
      - run: sudo xcode-select --switch ${{ matrix.xcode }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: NPM ^9.5.0
        run: npm i -g npm@^9.5.0 --registry=https://registry.npmjs.org
      - uses: actions/checkout@v4
      - name: Restore Dependency Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependencies-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run verify
        working-directory: ./ios
      - name: Validate native podspec
        run: sh ./scripts/native-podspec.sh lint
  test-android:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - setup
      - lint
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
      - name: NPM ^9.5.0
        run: npm i -g npm@^9.5.0 --registry=https://registry.npmjs.org
      - uses: actions/checkout@v4
      - name: Restore Dependency Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependencies-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run verify
        working-directory: ./android
