name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test-cli:
    runs-on: macos-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./cli
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - name: Restore Dependency Cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependency-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run build
      - run: npm run lint
      - run: npm test
  test-core:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./core
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/checkout@v2
      - name: Restore Dependency Cache
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-dependency-cache-${{ hashFiles('**/package.json') }}
      - run: npm install
      - run: npm run build
      - run: npm run lint
      - run: npm test
  test-ios:
    runs-on: macos-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./ios
    steps:
      - uses: actions/checkout@v2
      - run: pod lib lint --allow-warnings Capacitor.podspec
      - run: pod lib lint --allow-warnings CapacitorCordova.podspec
  test-android:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./android
    steps:
      - uses: actions/checkout@v2
      - run: ./gradlew clean build -b capacitor/build.gradle -Pandroid.useAndroidX=true -Pandroid.enableJetifier=true
