name: Publish NPM Latest

on:
  workflow_call:
    secrets:
      CAP_GH_RELEASE_TOKEN:
        required: true
      NPM_TOKEN:
        required: true
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  deploy-npm-latest:
    # Changed for safety until 8.0 ships
    if: github.ref == 'refs/heads/7.x'
    runs-on: macos-15
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.CAP_GH_RELEASE_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: npm
          cache-dependency-path: '**/package.json'
      - run: |
          npm install
      - name: Version & Publish
        env:
          GH_TOKEN: ${{ secrets.CAP_GH_RELEASE_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git config user.name "Github Workflow (on behalf of ${{ github.actor }})"
          git config user.email "users.noreply.github.com"
          npm whoami
          npm run ci:publish:latest
